/* Universal */
* {
    box-sizing: border-box;
    font-size: 16px; 
    display: block;

}
html, body {
    height: 100%;
    margin: 0;
}

title {
    display: none;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.3em;
}

p {
    line-height: 1.5;
}

/* Header */
#header {
    background-color:#BEBEBE;
    height: 80px;
    margin: 0 auto;
    
}
#name {
    margin-left:60px;
    margin-top: auto;
    background-color: #B18F9B;
    height: 80px;
    width: 260px;
    padding: 20px 0;
    float:left;
}

#name h1 {
    margin: 0 auto;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #222;
}

/* Nav Bar */

#header a {
    float: right;
    text-decoration: none;
    display:block;
    color: black;
    font-size: 1.2em;
    padding: 30.8px 20px;
    text-align: center;
    font-weight: bold;
}
#header a:hover {
    background-color:#B18F9B;
}
ul {
    margin-right: 60px;
    list-style-type: none;
}
.active {
    background-color: #B18F9B; 
}


/* Body */

#bigcontainer {

    min-height: 100%;
    width: auto;
    background-image: URL("../images/green_cup.png");
    padding:60px;
    position: relative;
}

/* This one is different because of the floating pic I couldn't do auto height */
#innerdiv {
    padding: 40px;
    height: 500px;
    background-color: #f2f2f2;
    margin: auto;
    position: relative;
   
}
#innerdiv h1 {
    color: black;
}
/* Auto Height Div */
#innerdiv1 {
    padding: 40px;
    height: auto;
    background-color: #f2f2f2;
    margin: auto;
    position: relative;
    
    
}
#innerdiv h1 {
    margin: 0 auto;
}
#innerdiv1 h1 {
    margin: 0 auto;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.profilepic {
    float: left;
    margin-right: 15px;
}
p {
    margin: 0;  
}

/* Form Styling for Contact Page*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Submit Button */
input[type=submit] {
    background-color: #B18F9B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover over Button */
input[type=submit]:hover {
    background-color: #9C7180;
}

/* Form Container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/* Flex Container and Elements */
.containerflex {
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

}
.flexitem {
    height: 200px;
    width: 200px;
    margin: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    overflow: hidden;  
}


.flexitem div {
    height: 40px;
    width: 100%;
    background-color: black;
    padding: 7px;
    Opacity: 0.7;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    margin: auto;
    
}

/* Pics inside portfolio items */
#docker {
    background-image: url("../images/docker.png");
}
#dandd {
    background-image: url("../images/dandd.png");
}
#brewery {
    background-image: url("../images/beer.jpg");
}
#webapp {
    background-image: url("../images/internet.jpeg");
}
#accordion {
    background-image: url("../images/accordion.jpg");
}


/* Footer */

.footer {
    background-color: #B18F9B;
    height: 60px;
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    
    
    
    
}

/*  Media Queries */

/* Makes central div and header only 960 px on larger screens */
@media only screen and (min-width: 1080px) {
    #innerdiv, #innerdiv1 {
        width: 960px;
        margin: auto;
    }
    #headercontainer {
        width: 960px;
        margin: auto;
    }
    #name {
        margin: 0;
    }
    ul {
        margin: 0;
    }
}

/* Gets rid of smaller nav on large screens */
@media only screen and (min-width: 750px) {
    .smallnav {
        display: none;
    }
}

/* Accomodates smaller screens with a different nav and padding/margin options 
   as well as different flex options for how to stack the items */
@media only screen and  (max-width: 749px) {
    /*Header*/
    h1 {
        font-size: 1.5em;
    }
    
    #header {
        height: 60px;
    }
    #name {
        margin-left: 40px;
        padding: 15px;
        height: 60px;
        margin-right: 200px;
    }
    #header a {
        display:none;
    }
    .smallnav {
        display: block;
        margin: 0;
        font-size: 1.2em;
        height: auto;


    }
    .smallnav ul {
        list-style-type: none;
        text-decoration: none;
        background-color: #BEBEBE;
        margin: 0;
        padding-top: 20px;   
    }
    .smallnav li {
        padding: 10px 0;
        width: 240px;
    }
    .smallnav a {
        text-decoration: none;
        color: black;   
        font-weight: bold;
    }
    .smallnav li:hover {
        background-color: #B18F9B;
    }


    /*body */
    #bigcontainer {
        padding: 40px;
    }
    #innerdiv {
        padding: 20px;
        height: auto;
    }
    /* Different profile pic for smaller screen */
    .profilepic {
        background: url(./assets/images/DrakeProfileSmall.jpg);
        Width: 150px;
        Height: 200px;
        float: none;
        margin: 0 auto;
        
    }
    /* Bio below pic on smaller screens rather than wrapping around */
    p.bio {
        padding-top: 10px;
        position: relative;
    }
    
    /* Centers content in flex boxes on portfolio page for smaller screens */
    .containerflex {
        justify-content: space-around;
    }

}